@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');
@import "./card.css";
@import "./grid.css";
@import "./reset.css";

:root {
    --primary-green: #495e57;
    --primary-yellow: #f4ce14;
    --secondary-peach: #ee9972;
    --secondary-cream: #fbdabb;
    --secondary-gray: #edefee;
    --secondary-black: #333333;
    --text-serif: 'Markazi Text', serif;
    --text-sans: 'Karla', sans-serif;
    --spacer-unit: 1rem;
    --spacer-xs: .25rem;
    --spacer-sm: .5rem;
    --spacer-md: 1rem;
    --spacer-lg: 1.5rem;
    --spacer-xl: 2rem;


    font-family: var(--text-sans);
    color: var(--secondary-black);
}


#root {
    display: block;
}

header img {
    grid-area: logo;
    width: 200px;
}

nav ul {
    grid-area: menu;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: var(--spacer-unit);

}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: var(--secondary-black);
    font-weight: bold;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

header, footer {
    padding: var(--spacer-unit);
}

footer {
    text-align: center;
    color: var(--primary-green);
}

header {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo menu";
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--text-serif);
    color: var(--primary-green);
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 2rem;
}

h3 {
    font-size: 1.25rem;
    font-family: var(--text-sans);
    font-weight: bold;
    text-transform: uppercase;
}

p {
    font-size: 1rem;
    line-height: 1.5em;
    margin-bottom: 1rem;
}

p.lead {
    font-size: 1.125rem;
}


p.highlight {
    font-size: 1rem;
    color: var(--secondary-gray);
}

.text-yellow {
    color: var(--primary-yellow);
}

.text-green {
    color: var(--primary-green);
}

.text-white {
    color: #fff;
}

.text-gray {
    color: var(--secondary-gray);
}

.text-peach {
    color: var(--secondary-peach);
}

.text-black {
    color: var(--secondary-black);
}

.background-yellow {
    background-color: var(--primary-yellow);
}

.background-green {
    background-color: var(--primary-green);
}

.background-gray {
    background-color: var(--secondary-gray);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: var(--spacer-unit);
}

.btn {
    font-family: var(--text-sans);
    font-size: 1rem;
    background-color: var(--primary-yellow);
    color: var(--secondary-black);
    padding: var(--spacer-xs) var(--spacer-md);
    border-radius: var(--spacer-sm);
    cursor: pointer;
    font-weight: bold;
    border: 2px solid var(--primary-yellow);
}

.btn:hover {
    background-color: var(--secondary-gray);
    border-color: var(--secondary-gray);
}

.btn:active {
    background-color: var(--secondary-gray);
    color: var(--primary-green);
    border-color: var(--secondary-gray);
}

.btn.btn-secondary {
    background-color: var(--secondary-cream);
    border-color: var(--secondary-peach);
}

.btn.btn-tertiary {
    background-color: unset;
}

.btn.btn-link {
    background-color: unset;
    border-color: rgba(0, 0, 0, 0);
    text-decoration: underline;
}

.hero {
    background-color: var(--primary-green);
    padding: 0;
    margin: 0;
}

.hero .container {
    display: grid;
    grid-template-columns: 20rem 1fr 200px;
    grid-template-areas: "hero-content . hero-image";
    margin-bottom: 75px;
}

.hero-content {
    grid-area: hero-content;
}

.hero-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    overflow: clip;
    align-content: center;
    border-radius: var(--spacer-unit);
    margin-bottom: -75px;
    grid-area: hero-image
}

.hero-image img {
    max-width: 100%;
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spacer-lg);
}

